# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

<b> Some of the popular languages that Data Scientists use are: <b>

In [ ]:
1. Python
2. R 
3. SQL

<b> Some of the commonly used libraries used by Data Scientists include: <b>

1. TensorFlow
2. SciPy
3. NumPy
4. Pandas
5. Pytorch

<b> Data Science Tools.<b>

|Data Science tools|
|------------|
|Jupyter Notebook|
|RStudio|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [13]:
# This a simple arithmetic expression to mutiply then add integers.
result = (3*4)+5
print(result)
print(result == 17)

17
True

In [14]:
# This will convert 200 minutes to hours by diving by 60
print(200/60)

3.3333333333333335

In [1]:
print("This a simple arithmetic expression to mutiply then add integers")

This a simple arithmetic expression to mutiply then add integers

<b> Objectives:</b>  list popular languages for Data Science.

- Python
- R 
- SQL

## Author

Name: Irina Ramanandraitsiory